*{
    box-sizing: border-box;
}

body{
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;

    gap: 0.8rem;
    
}

header,
main,
aside,
footer{
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;

    box-shadow: 1px 1px 6px rgba(115, 101, 101, 0.92);

}

header,
footer{
    flex-basis: 100%;
}

main{
    flex: 8 1 40rem;
}

aside{
    flex: 2 1 20rem;
}