html{
    font-family: Helvetica, sans-serif;
    padding: 40px;
}

a{
    color: rgb(2, 184, 2);
    text-decoration: none;
}


.header-title{
    display: inline-block;
    vertical-align: middle;
}

.header__links{
    display: inline-block;
    margin-left: 80px;
    font-size: 0px;
    vertical-align: middle;
}

.link{
    display: inline-block;
    font-size: 16px;
}

.link:not(:last-child){
    margin-right: 25px;
}



main{
    border-top: 1px solid black;
}

.main-title{
    font-weight: 100;
}
