@media screen and (max-width: 600px) {
    .home-container {
        margin: 0;
        padding-top: 0;
    }

    .home-navbar {
        margin: 0;
        padding: 0;
        border-bottom: 0.2em solid white;
    }

    .home-header{
        margin: 0;
        padding: 1em;
    }

    
    .navbar-link,  .home-container01{
        display: none;
      }


    .navbar-logo-title {
        margin-left: 0;
        font-size: 1.6em;
        display: block;
      }
    
      .home-hero.section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 85vh;
        position: relative;
      }
      
      .home-hero1 {
        margin-top: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
      }

      
      .home-image5 {
        align-self: flex-end;
        margin-top: 1em;
      }

      .home-info, .home-container04, .home-btn-group {
        justify-content: center;
        padding-left: 2em;
      }

      .column{
        padding-top: 2em;
      }

      .home-cards-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 50em;
        grid-gap: 0;
        justify-content: center;
      }

      .category-card-category-card {
        flex: 0 0 200px
      }


      

}
  