body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.cards-layout {
    margin-top: 0.8em;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.card {
    flex: 0 0 33em;
    overflow: hidden;
    background-color: #819DAF;
    border-radius: 1.5em;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.8em;
}

.card-button {
    margin: 0em 0em 1.5em 1.5em;
    padding: 0.7em 1.5em 0.7em 1.5em;
    border-radius: 2em;
    border: 1px solid white
}